<fuse-card class="w-full p-6 flex flex-col">

    @if (isClinics) {
        <div class="w-full font-semibold text-3xl text-orange-500 hover:text-orange-700 cursor-pointer text-center"
             routerLink="/{{UrlHelpers.order}}/{{clinic._id}}" queryParamsHandling="merge">
            {{ clinic.name }}
        </div>
    } @else {
        <div class="w-full font-semibold text-3xl text-orange-500 text-center">
            {{ clinic.name }}
        </div>
    }

    <div class="flex w-full gap-1 items-center">
        <p class="text-lg text-slate-500">Почта: </p>
        <span class="text-lg text-sky-600">{{ clinic.email }}</span>
    </div>
    <div class="flex w-full gap-1 items-center">
        <p class="text-lg text-slate-500">Номер телефона: </p>
        <span class="text-lg text-sky-600">{{ clinic.phone }}</span>
    </div>
    <div class="flex w-full gap-1 items-center">
        <p class="text-lg text-slate-500">Адрес: </p>
        <span class="text-lg text-sky-600">{{ clinic.address }}</span>
    </div>
    <div class="font-bold text-center text-lg">Список всех услуг</div>
    <mat-accordion>
        @for (service of clinic.services; track service._id) {
            <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{service.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
                @for (subService of service.subservices; track subService._id) {
                    <div class="flex items-center justify-between">
                        <div>{{subService.name}}</div>
                        <div>{{subService.price | currency: 'BYN'}}</div>
                    </div>
                }
            </mat-expansion-panel>
        }
    </mat-accordion>
</fuse-card>
